<div class="container">
    <div class="form login">
        <h1 class="form__title">Login</h1>
        <form class="form__group" [formGroup]="loginForm">
            <div class="form__field-wrapper">
                <label class="form__label" for="login">login</label>
                <div>
                    <input class="form__input" id="login" type="text" appValidationIndicator formControlName="loginField">
                    <ng-container *ngIf="(getLoginField?.dirty || getLoginField?.touched) && getLoginField?.invalid">
                        <div class="form__error" *ngIf="getLoginField?.errors?.['required']">
                            Please enter a login email
                        </div>
                        <div class="form__error" *ngIf="getLoginField?.errors?.['email']">
                            The login email is invalid
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form__field-wrapper">
                <label class="form__label" for="password">password</label>
                <div>
                    <input class="form__input" id="password" type="password" appValidationIndicator formControlName="passwordField">
                    <div class="form__error" *ngIf="(getPasswordField?.dirty || getPasswordField?.touched) &&
                    getPasswordField?.invalid && getPasswordField?.errors?.errorStr">
                        {{"Your password isn\'t strong enough. " + getPasswordField?.errors?.errorStr.message}}
                    </div>
                </div>
            </div>
            <div class="form__extra-wrapper">
                <a class="form__link" routerLink="registration">Registration</a>
                <button class="form__btn" [disabled]="!loginForm.valid" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div>

