<div *ngIf="video$ | async as video" class="container content">
    <a routerLink="/" class="content__back-link" appBorder [date]="video.snippet.publishedAt">
        <mat-icon>chevron_left</mat-icon>
    </a>
    <div class="content__image-block">
        <iframe *ngIf="!video.isCustom; else customPic" width="692" height="460"
            [src]="safeUrl"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
        <ng-template #customPic>
            <img [src]="video.snippet.thumbnails.medium.url" [alt]="video.snippet.title">
        </ng-template>
    </div>
    <div class="content__description-block">
        <div class="content__description-header">
            <h1 class="content__title">{{video.snippet.title}}</h1>
            <span class="content__date">{{video.snippet.publishedAt | date}}</span>
        </div>
        <p class="content__description">{{video.snippet.description}}</p>
        <div class="content__stats" *ngIf="video.statistics">
            <span class="content__stat content__stat--views">{{video.statistics.viewCount}}</span>
            <span class="content__stat content__stat--likes">{{video.statistics.likeCount}}</span>
            <span class="content__stat content__stat--comments">{{video.statistics.commentCount}}</span>
        </div>
        <div class="content__button-wrapper">
            <app-custom-button *ngIf="video.isCustom" (click)="removeVideo()">
                <mat-icon>delete</mat-icon>
            </app-custom-button>
        </div>
        <div class="indicator content__indicator" appBorder [date]="video.snippet.publishedAt"></div>
    </div>
</div>