$light-grey: #E5E5E5;
$mid-grey: #F2F2F2;
$lightest-grey: #EFEFEF;
$fields-grey: #E0E0E0;
$labels-grey: #828282;
$forms-grey: #C4C4C4;
$dark-grey: #4F4F4F;
$white: #FFFFFF;
$black: #000000;
$primary-color: #2F80ED;
$extra-red: #EB5757;
$extra-green: #27AE60;
$extra-yellow: #F2C94C;